.mgCtg {
  margin: 8% 15% 0 15%;
}

.typeContainer {
  grid-area: contentContainer;
  display: flex;
  justify-content: space-between;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
