.confirmBtnPos {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.background {
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(73, 191, 199, 1) 0%,
    rgba(139, 141, 181, 1) 100%
  );
  overflow: auto;
  z-index: 0;
  display: flex;
  justify-content: center;
}

.content1 {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: white;
  width: 70vw;
}

.confirmContainer {
  display: flex;
  padding: 2% 5%;
  text-align: center;
  justify-content: space-around;
  flex-wrap: wrap;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.confirmBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  height: 20vh;
  width: 20vh;
  border-radius: 10%;
  font-size: 12px;
  box-shadow: 2px 5px 10px 5px rgba(2, 0, 36, 30%);
}

.confirmBox > img {
  margin-top: 10%;
  height: 10vh;
  width: 10vh;
}

.confirmBox > div {
  margin-top: 10%;
  padding: 0 10px;
}

.smallText {
  font-size: 10px;
}
