/* Button Container for Buttons on Detail-Page */
.btnContainerDetails {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3%;
}

/* Button properties for buttons on Detail-Page */
.btnDetails {
  background: linear-gradient(to bottom, #8a8db5 5%, #7a99b9 100%);
  background-color: #8a8db5;
  border: none;
  border-radius: 0.6rem;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 2vmin;
  font-weight: bold;
  padding: 2vmin 4vmin;
  text-decoration: none;
}

.btnDetails:hover {
  background: linear-gradient(to bottom, #69a6be 5%, #4dbbc5 100%);
  background-color: #69a6be;
}
.btnDetails:active {
  position: relative;
  top: 0.1rem;
}

/* Container for each product. Works on Desktop and Mobile. Img-Size is adjusted with @media below */
.productBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2%;
  height: 50vmin;
  width: 30vmin;
  font-size: 2.5vmin;
}

/* Font size of products */
.fontSizeProductName {
  font-size: 1.8vmin;
  color: rgb(6, 23, 49);
}
/* compBar stands for compatibility Bar and is at the top of the productBoxes. colors are in helpers.css */
.compBar {
  height: 20vmin;
  width: 100%;
}

/*pbBoxBG stands for productBox Background and is the transparent color of compBar */
.pBoxBG {
  height: 100%;
  width: 100%;
}

.borderGreen {
  border: 2px solid #3cc392;
}

.borderRed {
  border: 2px solid #cc232a;
}

.borderYellow {
  border: 2px solid #e6980a;
}

.borderBlue {
  border: 2px solid #0298d5;
}

.borderGray {
  border: 0.5px solid rgb(214, 214, 214);
}

/* responsive image sizes for mobile / desktop / iPad */
@media (max-width: 767px) {
  .imgSize {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 768px) and (max-width: 768px) {
  .imgSize {
    height: 160px;
    width: 160px;
  }
}
@media (min-width: 769px) and (max-width: 850px) {
  .imgSize {
    height: 80px;
    width: 80px;
  }
}
@media (min-width: 851px) {
  .imgSize {
    height: 160px;
    width: 160px;
  }
}
