.redFiller {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(204, 19, 19, 0.7749300403755253) 0%,
    rgba(255, 168, 141, 0.7945378835127801) 100%
  );
}

.greenFiller {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 140, 23, 0.7749300403755253) 0%,
    rgba(142, 255, 141, 0.7945378835127801) 100%
  );
}

.yellowFiller {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(201, 204, 19, 0.7749300403755253) 0%,
    rgba(255, 255, 141, 0.7945378835127801) 100%
  );
}

.blueFiller {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(16, 63, 140, 0.7749300403755253) 0%,
    rgba(141, 186, 255, 0.7945378835127801) 100%
  );
}
