.mgGardenlights {
  margin: 12% 15% 0 15%;
}

.gardenlightsContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-around;
  grid-template-areas:
    'gardenSpot gardenStrip'
    'pathLight wallGarden'
    'boxPathLight .'
    '. boxWallGarden';
}

.boxPathLight {
  grid-area: boxPathLight;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  height: 10vh;
  margin-top: 2%;
}

.boxWallGarden {
  grid-area: boxWallGarden;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  height: 10vh;
  margin-top: 2%;
}

.pathLight {
  grid-area: pathLight;
}

.gardenSpot {
  grid-area: gardenSpot;
}

.wallGarden {
  grid-area: wallGarden;
}

.gardenStrip {
  grid-area: gardenStrip;
}
