.mgGardenlights {
  margin: 8% 15% 0 15%;
}

.gardenlightsContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-around;
  grid-template-areas:
    'gardenSpot gardenStrip'
    'pathLight wallGarden'
    'boxPathLight .'
    '. boxWallGarden';
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.boxPathLight {
  grid-area: boxPathLight;
  display: flex;
  flex-direction: column;
  height: 10vh;
  cursor: pointer;
}

.boxWallGarden {
  grid-area: boxWallGarden;
  display: flex;
  flex-direction: column;
  height: 10vh;
  cursor: pointer;
}

.pathLight {
  grid-area: pathLight;
}

.gardenSpot {
  grid-area: gardenSpot;
}

.mgOpenBox {
  margin-top: 6%;
  margin-left: 5%;
}

.wallGarden {
  grid-area: wallGarden;
}

.gardenStrip {
  grid-area: gardenStrip;
}
