.mgHeating {
  margin: 8% 15% 0 15%;
}

.heatingContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    'radiator thermostat heatActors'
    'boxThermostat boxThermostat boxThermostat'
    'boxHeatActors boxHeatActors boxHeatActors';
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.boxThermostat {
  grid-area: boxThermostat;
  height: 30vh;
  margin-top: 5%;
  margin-bottom: -5%;
  display: grid;
  justify-content: space-around;
  grid-template-areas: 'thermostatWired230 thermostatWired24 thermostatWireless';
}

.boxHeatActors {
  grid-area: boxHeatActors;
  height: 30vh;
  margin-top: 5%;
  margin-bottom: -5%;
  display: grid;
  justify-content: space-between;
  grid-template-areas: 'heatActor24_06 heatActor24_10 heatActor230_06 heatActor230_10 heatActor12Motorized';
}

.heatActor24_06 {
  grid-area: heatActor24_06;
}

.heatActor24_10 {
  grid-area: heatActor24_10;
}

.heatActor230_06 {
  grid-area: heatActor230_06;
}

.heatActor230_10 {
  grid-area: heatActor230_10;
}

.heatActor12Motorized {
  grid-area: heatActor12Motorized;
}

.radiator {
  grid-area: radiator;
}

.thermostatWired230 {
  grid-area: thermostatWired230;
}

.thermostatWired24 {
  grid-area: thermostatWired24;
}

.thermostatWireless {
  grid-area: thermostatWireless;
}

.heatActors {
  grid-area: heatActors;
}
