/* ********** MARGINS ********** */
.mgZero {
  margin: 0 0 0 0;
}

.mgt1 {
  margin-top: 2.5%;
}
.mgt2 {
  margin-top: 5%;
}

.mgt3 {
  margin-top: 10%;
}

.mgb1 {
  margin-bottom: 2.5%;
}

.mgb2 {
  margin-bottom: 5%;
}

.mgl1 {
  margin-left: 2%;
}

.mgl2 {
  margin-left: 5%;
}

.pdt1 {
  padding-top: 2.5%;
}

.pdt2 {
  padding-top: 5%;
}

.pdt3 {
  padding-top: 10%;
}

.pdb1 {
  padding-top: 2.5%;
}

.pdb2 {
  padding-top: 5%;
}

.pdb3 {
  padding-top: 10%;
}

.pdr2 {
  padding-right: 2.5%;
}

.pdr2 {
  padding-right: 5%;
}

/* ********** BORDER PROPERTIES ********** */
.borderHghl {
  border: 2px solid rgba(0, 128, 0, 50%);
}

.border1 {
  border-radius: 5px;
}

/* ********** TEXT ALIGNEMENTS ********** */
.textLeft {
  text-align: left;
}

/* ********** SEPARATION LINES ********** */
.line {
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  margin: 0 2%;
}

/* ********** SPECIAL FLEX PROPERTIES ********** */

.forceFlexWrap {
  flex-basis: 100%;
}

.flexStartLeft {
  justify-content: flex-start;
}

/* ********** SPECIAL contentBox and contentContainer PROPERTIES ********** */

.boxSizeAdj {
  height: 20vh;
  width: 14vh;
}

/* colors */
.green {
  background-color: #3cc392;
}

.red {
  background-color: #cc232a;
}

.yellow {
  background-color: #e6980a;
}

.blue {
  background-color: #0298d5;
}

/* Transparent Colors */
.greenTransp {
  background-color: #3cc39233;
  height: 100%;
  width: 100%;
}

.redTransp {
  background-color: #cc232a33;
  height: 100%;
  width: 100%;
}

.yellowTransp {
  background-color: #e6980a33;
  height: 100%;
  width: 100%;
}

.blueTransp {
  background-color: #0298d533;
  height: 100%;
  width: 100%;
}

.grayTransp {
  background-color: #d6d6d633;
  height: 100%;
  width: 100%;
}
