.mgInnerlights {
  margin: 5% 15% 0 15%;
}

.innerlightsContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    'strip tableLamp recSpot wall'
    'plug surfSpot recSwitch ceiling';
}

.tableLamp {
  grid-area: tableLamp;
}

.recSpot {
  grid-area: recSpot;
}

.surfSpot {
  grid-area: surfSpot;
}

.ceiling {
  grid-area: ceiling;
}

.strip {
  grid-area: strip;
}

.plug {
  grid-area: plug;
}

.recSwitch {
  grid-area: recSwitch;
}

.wall {
  grid-area: wall;
}
