.mgLights {
  margin: 12% 15% 0 15%;
}

.lightContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-between;
  grid-template-areas: 'lightbulbs innerLights garden';
}

.lightbulbs {
  grid-area: lightbulbs;
}

.innerLights {
  grid-area: innerLights;
}

.garden {
  grid-area: garden;
}
