.mgLights {
  margin: 5% 15% 0 15%;
}

.lightContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    '. e27 e14 gu10 .'
    'strip plug . innerLights garden';
}

.e27 {
  grid-area: e27;
}

.e14 {
  grid-area: e14;
}

.gu10 {
  grid-area: gu10;
}

.strip {
  grid-area: strip;
}

.plug {
  grid-area: plug;
}

.innerLights {
  grid-area: innerLights;
}

.garden {
  grid-area: garden;
}
