.mgLights {
  margin: 8% 15% 0 15%;
}

.lightContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-between;
  grid-template-areas: 'lightbulbs innerLights garden';
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.lightbulbs {
  grid-area: lightbulbs;
}

.innerLights {
  grid-area: innerLights;
}

.garden {
  grid-area: garden;
}
