.mgLightbulbs {
  margin: 8% 15% 0 15%;
}

.lightBulbContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-between;
  grid-template-areas:
    'white ambiance multicolor'
    'bulbs bulbs bulbs';
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

.white {
  grid-area: white;
}

.ambiance {
  grid-area: ambiance;
}

.multicolor {
  grid-area: multicolor;
}

.bulbs {
  grid-area: bulbs;
  height: 30vh;
  margin-top: 5%;
  margin-bottom: -5%;
  display: grid;
  justify-content: space-around;
  grid-template-areas: 'e27 e14 gu10';
}

.e27 {
  grid-area: e27;
}

.e14 {
  grid-area: e14;
}

.gu10 {
  grid-area: gu10;
}
