/* style for the system's boxes. Parent => contentContainer.*/
.overviewBox {
  display: flex;
  margin: 5% 5%;
  flex: 1 1 0px;
  flex-grow: 0;
  flex-direction: column;
  margin-left: 2.5%;
  margin-right: 2.5%;
  text-align: center;
  padding: 1rem;
  border: 2px solid #8a8db5;
  border-radius: 10px;
}

/* style of "in Verbindung mit */
.inConnection {
  margin-top: -3%;
  background-color: #7a99b9;
  color: white;
}

/* dotstyle general and colors for compatibility */
.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.comp {
  background-color: green;
}

.partialComp {
  background-color: yellow;
}

.notComp {
  background-color: red;
}

.dotMain {
  background-color: blue;
}

/* container for the list of all subsystems. */
.connectedSystemsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* container to put basestation and button on bottom of contentContainer. */
.bottomOfContainer {
  flex-grow: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 2%;
}

/* container for basestation content */
.baseContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.baseContainer div {
  margin-bottom: 20%;
  margin-top: -10%;
}

/* circle style for number of bases */
.numberOfBases {
  height: 25px;
  width: 25px;
  background-color: #7a99b9;
  font-weight: bold;
  color: white;
  border-radius: 50%;
  padding: 5px;
}
