.mgSecurity {
  margin: 12% 0 0 0;
}

.securityContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-around;
  grid-template-areas:
    '. motion windowSensor siren .'
    '. boxMotion . . .'
    '. . . boxSiren .'
    'smoke lock . doorbell camera'
    '. . . . boxCamera';
}
.boxMotion {
  grid-area: boxMotion;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  height: 10vh;
  margin-top: 2%;
}

.boxSiren {
  grid-area: boxSiren;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  height: 10vh;
  margin-top: 2%;
}

.boxCamera {
  grid-area: boxCamera;
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  height: 10vh;
  margin-top: 2%;
}

.motion {
  grid-area: motion;
}

.windowSensor {
  grid-area: windowSensor;
}

.siren {
  grid-area: siren;
}

.smoke {
  grid-area: smoke;
}

.lock {
  grid-area: lock;
}

.doorbell {
  grid-area: doorbell;
}

.camera {
  grid-area: camera;
}
