.mgSecurity {
  margin: 8% 0 0 0;
}

.securityContainer {
  grid-area: contentContainer;
  display: grid;
  justify-content: space-around;
  grid-template-areas:
    '. motion windowSensor siren .'
    '. boxMotion . . .'
    '. . . boxSiren .'
    'smoke lock . doorbell camera'
    '. . . . boxCamera';
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
.boxMotion {
  grid-area: boxMotion;
  display: flex;
  flex-direction: column;
  height: 10vh;
  cursor: pointer;
}

.boxSiren {
  grid-area: boxSiren;
  display: flex;
  flex-direction: column;
  height: 10vh;
  cursor: pointer;
}

.boxCamera {
  grid-area: boxCamera;
  display: flex;
  flex-direction: column;
  height: 10vh;
  cursor: pointer;
}

.motion {
  grid-area: motion;
}

.windowSensor {
  grid-area: windowSensor;
}

.siren {
  grid-area: siren;
}

.smoke {
  grid-area: smoke;
}

.lock {
  grid-area: lock;
}

.doorbell {
  grid-area: doorbell;
}

.camera {
  grid-area: camera;
}
