.windowContainer {
  display: grid;
  grid-template-areas: 'spaceLeft centerBox spaceRight';
}

.stripe {
  background-color: #8492b6;
  color: white;
}

.center {
  grid-area: centerBox;
  display: flex;
  flex-direction: column;
  width: 70vw;
  height: 100vh;
}

.textCenter {
  text-align: center;
}

.spaceLeft {
  grid-area: spaceLeft;
  height: 100vh;
  width: 15vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(73, 191, 199, 1) 0%,
    rgba(139, 141, 181, 1) 100%
  );
}

.spaceRight {
  grid-area: spaceRight;
  height: 100vh;
  width: 15vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(73, 191, 199, 1) 0%,
    rgba(139, 141, 181, 1) 100%
  );
}

.mgb1 {
  margin-bottom: 5%;
}
.mgb2 {
  margin-bottom: 10%;
}
.mgt1 {
  margin-top: 5%;
}
.mgt2 {
  margin-top: 10%;
}
.mgt3 {
  margin-top: 20%;
}

.checkmarkDiv {
  display: flex;
  justify-content: center;
  margin-top: -2%;
}
.checkmark {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.checkmark li:before {
  content: '✓';
  color: #2cba6c;
  font-size: 30px;
}

.btnPos {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 5%;
}

.btn {
  background: linear-gradient(to bottom, #8a8db5 5%, #7a99b9 100%);
  background-color: #8a8db5;
  border: none;
  border-radius: 8px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
}
.btn:hover {
  background: linear-gradient(to bottom, #69a6be 5%, #4dbbc5 100%);
  background-color: #69a6be;
}
.btn:active {
  position: relative;
  top: 1px;
}

.startContainer {
  width: 60%;
  height: 60vh;
}

.configContainer {
  display: grid;
  grid-template-areas:
    'contentContainer'
    'buttons';
  width: 100%;
  height: 100%;
}

.btnContainer {
  grid-area: buttons;
  display: flex;
  justify-content: space-between;
  margin: 2% 5%;
  align-items: flex-end;
}

.typeBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 20vh;
  width: 20vh;
  border-radius: 10%;
  font-size: 12px;
  box-shadow: 2px 5px 10px 5px rgba(2, 0, 36, 30%);
  cursor: pointer;
}

.typeBox > img {
  margin-top: 5%;
  height: 15vh;
  width: 15vh;
}

.typeBox > div {
  margin-top: 5%;
}

.selected {
  outline: none;
  border-color: #9ecaed;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    0deg,
    rgba(2, 0, 36, 100%) 0%,
    rgba(73, 191, 199, 100%) 0%,
    rgba(139, 141, 181, 100%) 100%
  );
}
